In [23]:
import pandas as pd
import matplotlib as mlp
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [24]:
df = pd.read_csv("../f1data/fifa_eda_stats.csv")

In [25]:
df.isnull().mean().sort_values(ascending=False)

Loaned From                 0.930576
Release Clause              0.085901
Joined                      0.085297
Contract Valid Until        0.015873
Club                        0.013237
Jersey Number               0.003295
Position                    0.003295
GKDiving                    0.002636
SlidingTackle               0.002636
Agility                     0.002636
Reactions                   0.002636
Balance                     0.002636
ShotPower                   0.002636
Jumping                     0.002636
Stamina                     0.002636
Strength                    0.002636
LongShots                   0.002636
Aggression                  0.002636
Interceptions               0.002636
GKReflexes                  0.002636
GKPositioning               0.002636
GKKicking                   0.002636
GKHandling                  0.002636
Acceleration                0.002636
Positioning                 0.002636
Vision                      0.002636
Penalties                   0.002636
Composure                   0.002636
Marking                     0.002636
StandingTackle              0.002636
SprintSpeed                 0.002636
Curve                       0.002636
BallControl                 0.002636
Weight                      0.002636
Preferred Foot              0.002636
International Reputation    0.002636
Weak Foot                   0.002636
Skill Moves                 0.002636
Work Rate                   0.002636
LongPassing                 0.002636
Height                      0.002636
Body Type                   0.002636
Crossing                    0.002636
Finishing                   0.002636
HeadingAccuracy             0.002636
ShortPassing                0.002636
Volleys                     0.002636
Dribbling                   0.002636
FKAccuracy                  0.002636
Name                        0.000000
Wage                        0.000000
Value                       0.000000
Potential                   0.000000
Overall                     0.000000
Nationality                 0.000000
Age                         0.000000
ID                          0.000000
dtype: float64

In [26]:
df = df.drop(columns=['Loaned From'])

In [27]:
df['Joined'] = pd.to_datetime(df['Joined'], errors='coerce')
df['Contract Valid Until'] = pd.to_datetime(df['Contract Valid Until'], errors='coerce')

In [28]:
df['Joined'].head()

0   2004-07-01
1   2018-07-10
2   2017-08-03
3   2011-07-01
4   2015-08-30
Name: Joined, dtype: datetime64[ns]

In [29]:
def convert_currency(val):
    if isinstance(val, str):
        val = val.replace('€', '').replace('M', 'e6').replace('K', 'e3')
        try:
            return float(eval(val))
        except:
            return np.nan
    return val

for col in ['Value', 'Wage', 'Release Clause']:
    df[col] = df[col].apply(convert_currency)

df['Release Clause'] = df['Release Clause'].fillna(df['Release Clause'].median())

In [30]:
df.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500000.0,565000.0,Left,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,226500000.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000000.0,405000.0,Right,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,127100000.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500000.0,290000.0,Right,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,228100000.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000000.0,260000.0,Right,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,138600000.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000000.0,355000.0,Right,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,196400000.0

In [31]:

def convert_height_in(x):
    if isinstance(x, str) and "'" in x:
        feet, inches = x.split("'")
        return int(feet) * 12 + int(inches)
    return np.nan

def convert_weight_lbs(x):
    if isinstance(x, str) and 'lbs' in x:
        return int(x.replace('lbs', '').strip())
    return np.nan
df['Height_in'] = df['Height'].apply(convert_height_in)
df['Weight_lbs'] = df['Weight'].apply(convert_weight_lbs)

df = df.drop(columns=['Height', 'Weight'])

In [32]:
df.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,Height_in,Weight_lbs
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500000.0,565000.0,Left,...,28.0,26.0,6.0,11.0,15.0,14.0,8.0,226500000.0,67.0,159.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000000.0,405000.0,Right,...,31.0,23.0,7.0,11.0,15.0,14.0,11.0,127100000.0,74.0,183.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500000.0,290000.0,Right,...,24.0,33.0,9.0,9.0,15.0,15.0,11.0,228100000.0,69.0,150.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000000.0,260000.0,Right,...,21.0,13.0,90.0,85.0,87.0,88.0,94.0,138600000.0,76.0,168.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000000.0,355000.0,Right,...,58.0,51.0,15.0,13.0,5.0,10.0,13.0,196400000.0,71.0,154.0

In [33]:
df['Club'] = df['Club'].fillna('Free Agent')

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 56 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        18207 non-null  int64
 1   Name                      18207 non-null  object
 2   Age                       18207 non-null  int64
 3   Nationality               18207 non-null  object
 4   Overall                   18207 non-null  int64
 5   Potential                 18207 non-null  int64
 6   Club                      18207 non-null  object
 7   Value                     18207 non-null  float64
 8   Wage                      18207 non-null  float64
 9   Preferred Foot            18159 non-null  object
 10  International Reputation  18159 non-null  float64
 11  Weak Foot                 18159 non-null  float64
 12  Skill Moves               18159 non-null  float64
 13  Work Rate                 18159 non-null  object
 14  Body Type                 18159 non-null  object
 15  Position                  18147 non-null  object
 16  Jersey Number             18147 non-null  float64
 17  Joined                    16654 non-null  datetime64[ns]
 18  Contract Valid Until      16654 non-null  datetime64[ns]
 19  Crossing                  18159 non-null  float64
 20  Finishing                 18159 non-null  float64
 21  HeadingAccuracy           18159 non-null  float64
 22  ShortPassing              18159 non-null  float64
 23  Volleys                   18159 non-null  float64
 24  Dribbling                 18159 non-null  float64
 25  Curve                     18159 non-null  float64
 26  FKAccuracy                18159 non-null  float64
 27  LongPassing               18159 non-null  float64
 28  BallControl               18159 non-null  float64
 29  Acceleration              18159 non-null  float64
 30  SprintSpeed               18159 non-null  float64
 31  Agility                   18159 non-null  float64
 32  Reactions                 18159 non-null  float64
 33  Balance                   18159 non-null  float64
 34  ShotPower                 18159 non-null  float64
 35  Jumping                   18159 non-null  float64
 36  Stamina                   18159 non-null  float64
 37  Strength                  18159 non-null  float64
 38  LongShots                 18159 non-null  float64
 39  Aggression                18159 non-null  float64
 40  Interceptions             18159 non-null  float64
 41  Positioning               18159 non-null  float64
 42  Vision                    18159 non-null  float64
 43  Penalties                 18159 non-null  float64
 44  Composure                 18159 non-null  float64
 45  Marking                   18159 non-null  float64
 46  StandingTackle            18159 non-null  float64
 47  SlidingTackle             18159 non-null  float64
 48  GKDiving                  18159 non-null  float64
 49  GKHandling                18159 non-null  float64
 50  GKKicking                 18159 non-null  float64
 51  GKPositioning             18159 non-null  float64
 52  GKReflexes                18159 non-null  float64
 53  Release Clause            18207 non-null  float64
 54  Height_in                 18159 non-null  float64
 55  Weight_lbs                18159 non-null  float64
dtypes: datetime64[ns](2), float64(43), int64(4), object(7)
memory usage: 7.8+ MB